<template>
    <div class="game-board">
        <div v-if="winner">player {{winner}} wins</div>
        {{grid}}
        <div class="row clearfix" v-for="(row, indexrow) in grid" :key="indexrow">
            <div :class="['col', colPlayerClass(col)]" v-for="(col, indexcol) in row" :key="indexcol" @click="put(indexrow, indexcol)" />
        </div>
    </div>
</template>

<script>
export default {
    name: 'GameBoard',
    props: {
        msg: String
    },
    data() {
        return {
            grid: [], // 棋盤資料
            activePlayer: 1, // 當前玩家
            winner: 0 // 贏家
        }
    },
    created() {
        this.grid = Array.from({length: 15}, () => {
            return Array.from({length: 15}, () => 0)
        });
    },
    computed: {
        colPlayerClass() {
            return player => `col-${player}`;
        }
    },
    methods: {
        // 轉置矩陣
        transposeArrays(arrs) {
            return arrs[0].map((col, index) => arrs.map(row => row[index]));
        },
        put(row, col) {
            if(this.winner) {
                return;
            }

            const tmp = [...this.grid];
            if(tmp[row][col]) {
                return;
            }
            tmp[row][col] = this.activePlayer;
            this.grid = Object.assign([], tmp);

            this.verify();

            if (this.activePlayer === 1) {
                this.activePlayer = 2;
                return;
            }
            this.activePlayer = 1;
        },
        verify() {
            const reg = new RegExp(`${this.activePlayer}{5,}`);

            // 驗證橫向
            this.grid.forEach(item => {
                if (reg.test(item.toString().replace(/,/g, ''))) {
                    this.winner = this.activePlayer;
                    return;
                }
            })

            // 驗證直向
            const gridTransposed = this.transposeArrays(this.grid); // 轉置矩陣
            gridTransposed.forEach(item => {
                if (reg.test(item.toString().replace(/,/g, ''))) {
                    this.winner = this.activePlayer;
                    return;
                }
            });
            
            // 右上到左下
            const gridOblique = this.grid.map((col, index) => {
                const gridLength = this.grid.length;
                return [
                    ...Array.from({length: index}, () => 0),
                    ...col,
                    ...Array.from({length: gridLength - index}, () => 0)
                ];
            });
            const gridObliqueTransporse = this.transposeArrays(gridOblique);
            gridObliqueTransporse.forEach(item => {
                if (reg.test(item.toString().replace(/,/g, ''))) {
                    this.winner = this.activePlayer;
                    return;
                }
            });

            // 左上到右下
            // ?

            // -> 檢查是否還需要橫向驗證？
        }
    }
}
</script>

<style lang="scss" scoped>
    * {
        color: #666
    }
    .clearfix {
        &:after {
        content: '';
        display: block;
        clear: both;
        }
    }
    .game-board {
        margin: 0 auto;
        width: 300px;
    }
    .row {

    }
    .col {
        float: left;
        width: 20px;
        height: 20px;
        background: linear-gradient(to bottom, transparent 9.5px, #456 9.5px, #456 10.5px, transparent 10.5px), linear-gradient(to right, transparent 9.5px, #456 9.5px, #456 10.5px, transparent 10.5px);
        &:before {
            content: '';
            display: block;
            margin: 3px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
        }
        &-1 {
            &:before {
                background: #000;
            }
        }
        &-2 {
            &:before {
                background: #FF6600;
            }
        }
    }
</style>
